*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
 #branding h1{
  margin: 0;
}
/*branding*/
#branding{
    float: none;
    text-align: center;
    width: 25%;
    float: left;
    color: #CCCCCC
}
header .highlight {
  color: #fff;
  font-weight: bold;
}
#sideMenus {
  background: #1E1F26;
  width: 12.500em;
  min-height: 100%;
  display: block;
  position: absolute;
  left: 0em;
  top: 60px;
  transition: left 0.3s linear;
  box-shadow: 0px 8px 16px 0px;
}
#sideMenus.visible {
  left: 0.000em;
}
nav {
  text-align: center;
}
ul {
  margin: 0.000em;
  padding: 0.000em;
}

ul li {
  list-style: none;
}

ul li a {
  background: #1E1F26;
  color: #fff;
  border-bottom: 1px solid #111;
  text-align: left;
  display: block;
  width: 11.250em;
  padding: 0.625em;
  text-decoration: none;
}

ul li a:hover {
  background:#333d42;
}

#sideMenus-btn {
  vertical-align: middle;
  width: 1.563em;
  height: 1.250em;
  cursor: pointer;
  margin: 1.250em;
  position: absolute;
  top: 0em;
  right: -3.750em;
  display: none;
}

#sideMenus-btn span {
  height: 0.063em;
  background: #282828;
  margin-bottom: 0.313em;
  display: block;
}

.content {
	margin-left:200px; 
	margin-top: 50px;
  padding: 20px;
}
.articles-body{
  text-align: left;
  height:auto;
}


/*top bar*/

header{
  height: 60px;
  background-color: #1E1F26;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul {
  list-style: none;
}

#menu{
  margin: 0px; 
  background-color: #1E1F26;
  color: #fff;
  text-align: center;
  align-content: center;
  width: 150px;
  margin-right: 5px;
  border-radius: 50px;
}

.menu-container #menu ul{
  text-align: center;
  width: 100%;
}

.menu-container > li{
  text-align: center;
  display: inline-block;
  background-color: #fff;
  transition: all 0.8s ease; 
  position: relative;
}
.menu-container li:hover{
  cursor: pointer;
  background-color: #1E1F26;
}
#dropdown {
  background: #1E1F26;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  left: -45px;
  top: 70%;
  margin-top: 20px;

}
#dropdown li{

  margin: 0;
  width: 100%;
  padding: 5px 0px 5px 0px;
  color: #fff;
}

#dropdown li a{
  color: #666;
}

#dropdown li:hover{
  background:#333d42;

}
#dropdown.active{
  display: block;
}


.content .post{
  text-align: right;
  height: 400px;
}
.content .post a{
  text-decoration: none;
}


.content .post {
  margin:60px auto;
}

.content .post  input[type="text"],
.content .post  input[type="Password"],
.content .post  input[type="submit"],
.content .post  textarea
{
    display: block;
    width: 100%;
    height: 80%;
    border-radius: 3px;
    border: 1px solid #1E1F26;
    font-size: 12px;
    text-align: center;

}
 
.content .post  table  span{
  font: 15px/1.5 Arial, Helvetica, sans-serif ;
  text-align: center;
}
.content .btn{
  cursor: pointer;
  border-radius: 3px;
  border:none;
  font-size:12px;
  transition:0.5s;
  margin-bottom:0.5em;
  margin-top:0.5em;
  background:#1E1F26;
  color:#fff;
  
}

.content .post td .btn{
  width: 100px;
}

@media screen and (max-width: 700px){

  /*side bar medium and smartphone*/

	#sideMenus-btn{
	  display: inline-block;
	}

	#sideMenus{
		left: -11.47em;
	} 

  .content {
      margin-left:30px; 
      margin-top: 50px;
      padding: 20px;
      /* overflow-x: scroll; */
   }

   #sideMenus {
	  background: #1E1F26;
	  width: 11.500em;
	  min-height: 96%;
	  display: block;
	  position: absolute;
	  top: 60.2px;
	  transition: left 0.3s linear;
	}

  ul li a {
    background: #1E1F26;
    color: #fff;
    border-bottom: 1px solid #111;
    display: block;
    width: 10.250em;
    padding: 0.625em;
    text-decoration: none;
  }  

}


@media screen and (max-width: 731px){  
  #dropdown {
    background: #1E1F26;
    display: none;
    position: absolute;
    width: 100%;
  
    text-align: center;
    left: -20px;
    top: 70%;
    margin-top: 20px;
  
  }
  
  }
@media screen and (max-width: 732px){  
  #dropdown {
    background: #1E1F26;
    display: none;
    position: absolute;
    width: 100%;
  
    text-align: center;
    left: -29px;
    top: 70%;
    margin-top: 20px;
  
  }
  
  }